body {
    font-family: Helvetica, sans-serif;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}
  
.list {
    list-style: square;
}
  
#date {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}